body{
    background-image: url(background.png);
    background-size: cover;
}
.hp, .hat {
    background-color: #44318D;
    color: white;
    
}
.hw, .sort{
    background-color: #44318D;
    color: white;
}
img {
    display:inline-block;
}
.rw, .claw{
    background-color: #44318D;
    color: white;
}

.vm, .huff{
    background-color: #44318D;
    color: white;
}

.pd, .gry{ 
    background-color: #44318D;
    color: white;
}

.hg, .sly{
    background-color: #44318D;
    color: white;
}
td{
    width: 500px;
    padding: 0px 15px 0px 15px
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #44318D;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
a.active {
    background-color: rgba(68, 42, 143, 0.6);
}
li a:hover {
    background-color: #111111;
}
ul, li {
    padding-right:17%;
    padding-left:17%;
}
