body{
    background-image: url(background.png);
    background-size: cover;
}
.hp, .hat {
    background-color: #44318D;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 1.1em;
}
.hw, .sort{
    background-color: #44318D;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 1.1em;
}
img {
    display:inline-block;
}
img:hover{
    box-shadow: 10px 10px 8px #A4B3B6 ;
}
.rw, .claw{
    background-color: #44318D;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 1.1em;
}

.vm, .huff{
    background-color: #44318D;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 1.1em;
}

.pd, .gry{ 
    background-color: #44318D;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 1.1em;
}

.hg, .sly{
    background-color: #44318D;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 1.1em;
}
td{
    width: 500px;
    padding: 0px 15px 0px 15px
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #44318D;
} 
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
a.active {
    background-color: #D83F87;
}
li a:hover {
    background-color: #D83F87;
}
ul, li {
    padding-right:17%;
    padding-left:17%;
}
#parafont:hover{
    text-shadow: 2px 2px 2px black;
    font-size:1.3em;
} 
#parafont{
    font-family: 'Dancing Script', cursive;
    font-size: 1.1em;
}
a{
    text-decoration: none;
}
nav{
    border: solid 2px #A4B3B6;
}
p{
    border: solid 2px #2A1B3D;
    padding: 10px;
}
h1{
    text-align: center;
    color: white;
    font-family: 'Indie Flower', cursive;
}
footer{
    width: 75%;
    color: white;
    font-size: 0.7em;
    padding: 15px
}